* {
	box-sizing: border-box;
	/* outline: 1px solid red; */
}

body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: black;
	background-size: 100%;
	background-position: top;
	color: #fff;
}

.section-header {
	/* background-color: aqua; */
	display: flex;
	flex-direction: column;
}

.logo {
	width: 180px;
	height: 80px;
	background: url(images/logo.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}

.container {
	display: grid;
	padding: 2rem;
	max-width: 450px;
	margin: auto;
	background: url(images/bg-mobile.svg), hsl(257, 40%, 49%);
	background-position: top;
	background-repeat: no-repeat;
	background-size: contain;
	/* outline: 3px solid black; */
}

.hero-section {
	margin-top: 5rem;
	/* width: auto; */
	height: 350px;
	background: url(./images/illustration-mockups.svg);
	background-repeat: no-repeat;
	background-size: contain;
}

.title {
	font-family: "Poppins", sans-serif;
	color: white;
	font-weight: 600;
	font-size: 1.5rem;
	margin: 0.2rem;
	text-align: center;
}

.description {
	line-height: 1.5;
	text-align: center;
	font-size: 1.2rem;
}

.register {
	display: block;
	color: hwb(257 29% 31%);
	background-color: #fff;
	font-weight: 500;
	font-size: 1.5rem;
	padding: 0.8rem 7rem;
	border-radius: 50px;
	border: 0;
	outline: 0;
	box-shadow: 0px 5px 5px 1px hsl(257, 40%, 35%);
	margin: 2rem auto;

	font-family: "Poppins", sans-serif;
}

.social-icons {
	display: flex;
	justify-content: center;
	font-size: 1.5rem;
	margin: 6rem auto 2rem auto;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.3rem;
	width: 3rem;
	height: 3rem;
	border: 1.5px solid white;
	border-radius: 100%;
}

.link-white {
	color: #fff;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: #fff;
}

@media screen and (min-width: 1200px) {
	.container {
		/* border: 1px solid red; */
		background: url(images/bg-desktop.svg) center no-repeat cover,
			hsl(257, 40%, 49%);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		max-width: 1000px;
		margin: auto;
		grid-template-columns: 1fr 1fr;
		gap: 4rem;
	}
	.text {
		padding: 2rem 2rem 0 2rem;
		position: relative;

		display: flex;
		flex-direction: column;
		justify-content: center;
		/* outline: 1px solid red; */
	}
	.title,
	.description {
		text-align: unset;
	}

	.description {
		font-size: 1rem;
	}
	.register {
		padding: 0.5rem 3rem;
		margin: unset;
		text-align: center;
		width: fit-content;
		font-size: 1rem;
	}

	.social-icons {
		position: absolute;
		bottom: 0;
		right: 0;
		font-size: 1.3rem;
	}
} ;
