*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto";
}

body {
  min-height: 100vh;
  background-color: rgb(34, 41, 49);
}

h1 {
  color: white;
}
.container {
  width: 400px;
  margin: auto;
  text-align: center;
  /* border: 1px solid red; */
  margin-top: 10rem;
}

.removed {
  display: none;
}

form * {
  color: whitesmoke;
}

form div {
  display: flex;
  /* border: 1px solid red; */
  justify-content: space-between;
  margin: 1rem auto;
}

input[type="number"] {
  font-size: 30px;
  width: 100%;
  font-weight: 100;
  border: 0;
  color: black;
}

h2,
p,
.result {
  color: white;
}

.result {
  font-size: 2.5rem;
  margin-top: 3rem;
  /* outline: 1px solid white; */
  box-shadow: 0 0 30px 1px white;
  padding: 2rem;
  border-radius: 15px;
}

.sign {
  padding: 0.3rem 0.5rem;
  background-color: aliceblue;
  color: dimgrey;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  line-height: 30px;
}

.btn input {
  width: 100%;

  padding: 0.6rem;
  color: white;

  font-family: "Roboto";
  font-size: 20px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

input[type="submit"] {
  background-color: dimgray;
  color: white;
  font-size: 20px;
}

input[type="reset"] {
  background-color: tomato;
  color: white;
  font-size: 20px;
}
